.wrapper
  .chat-side
    = render 'messages/sideheader'
    = render 'messages/groups'
  .chat-main
    = render 'messages/mainheader'
    = render 'messages/messages'
    = render 'messages/form'
    